*{
    margin: 0;
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    border:border-box;
}
.navbar{
    height: 65px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.nav-logo{
    height: 60px;
    width:110px;
}
    .logo img{
        height: 55px;
        width: 100%;
        object-fit: contain;
       
    }
    .border{
        border: px solid transparent;
    }
    .border:hover{
        border: 2px solid white;
        border-radius: 5px;
       box-shadow: 2px 2px 8px rgba(194, 185, 185, 0.781);
    }
    /**box2 **/

    .add-first{
        color: #cccccc;
        font-size: 0.85rem;
        margin-left: 15px;

    }
    .add-second{
        font-size: 1rem;
        margin-left: 3px;

    }
    .add-icon{
        display: flex;
        align-items: center;
    }
    /**box3**/
    .nav-search{
        display: flex;
        justify-content: space-evenly;
        background-color: pink; 
        width: 620px;
        height: 40px;
        border-radius: 4px;
    }

    .search-select{
        background-color: #f3f3f3;
        width: 50px;
        height: 101%;
        text-align: center;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .search-input{
        width: 100%;
        height: 94%;
        font-size: 1rem;
        border: none;
    }
        
    .search-icon{
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background-color: #f09c15;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        color: #0f1111;

    }
    .nav-search:hover{
        border:3px solid orange;
        
    }
    /**box4**/
    span{
        font-size: 0.7rem;
    }
    .nav-second{
        font-size: 0.85rem;
        font-weight: 700;
    }
    /**box5**/
    .nav-cart i{
        font-size: 30px;
    }
    .nav-cart{
        font-size: 0.85rem;
        font-weight: 700;
    }
    /** panel **/
    .panel{
        height: 40px;
        background-color: #222f3d;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
    }
    .panel-ops {
        display: flex;
       gap: 30px;
       

    }
    .panel-ops{
        width: 70%;
        font-size: 0.85rem;
       

    }
    .panel-deal{
        font-size: 0.9rem;
        font-weight: 700;
    }
    /**hero section**/
    .hero-section{
        background-image: url("home.jpg");
        background-size: cover;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items:flex-end;
      
    }
    .hero-msg{
        background-color: #fff;
        color: black;
        height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85 rem;
        width: 80%;
        margin-bottom: 25px;


    }
    .hero-msg a{
        color:#007185;
    }
    /**shop section**/
    .shop-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #8428e12c;
    }
    .box {
        /* border: 2px solid black; */
        height: 400px;
        width: 23%;
        background-color: white;
        border-radius: 10px;
        padding: 20px 0px 15px;
        margin-top: 10px;
        
    }
    .boximg{
        height: 300px;
        background-size: cover;
        

    }
    .box:hover{
         margin-left: 1rem;
        margin-right: 1rem;
        transform: scale(1.03);
        transition: all 0.2s;
        border-radius: 2%;
        box-shadow: 2px 2px 15px rgb(59, 57, 57);

    }
   
    .shop-section p {
          
        color:#202dbfd1;
        margin-left: 18px;
        margin-top: 10px;
    }
    h2{
        margin-left: 18px;
        margin-bottom: 10px;
    }
    .foot-panel1{
        background-color: #37475a;
        color:white;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
    }
    .foot-panel2{
        background-color: #222f3d;
        color: white;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        

    }
    ul{
        margin-top: 10px;
    }

    ul a {
        display: block;
        font-size: 0.85rem;
        margin-top: 10px;
        color: #dddddd;
    }
    .foot-panel3{
        background-color: #222f3d;
        border-top: 0.2px solid rgba(255, 255, 255, 0.318);
        height: 60px;
      padding: 12px;
        
    }
   .panel-ops a{
    color: rgb(255, 255, 255); text-decoration: none ;
    
   
   }
   .panel-ops a:hover{
    text-decoration: underline;
    transform: scale(1.2);
   transition: all 0.2s ease;
    color: #f09c15;
   
   
}
.see_more{
    text-decoration: none;
     text-decoration: underline;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0f1111;



}
.see_more2{
    text-decoration: none;
     text-decoration: underline;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0f1111;



}
.see_more3{
    text-decoration: none;
     text-decoration: underline;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0f1111;



}
.see_more4{
    text-decoration: none;
     text-decoration: underline;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0f1111;



}
.see_more5{
    text-decoration: none;
     text-decoration: underline;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0f1111;



}
.see_more6{
    text-decoration: none;
     text-decoration: underline;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0f1111;



}
.see_more7{
    text-decoration: none;
     text-decoration: underline;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0f1111;



}
.see_more8{
    text-decoration: none;
    text-decoration: underline;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0f1111;



}
.right{
    color:rgb(161, 155, 155);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: right;

}

    

body{
    scroll-behavior: smooth;
}